<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <title>MyFridge</title>
  <link rel="stylesheet" href="styles.css">
  <script defer src="/index.js"></script>
</head>
<body>
  <header class="header">
    <div>
      <a class="header_logo" href="http://localhost:3000">MyFridge</a>
    </div>

    <div class="my-buttons">
      <span class="welcome">Добро пожаловать <i>{{this.name}}</i></span>
      <a class="home_btn" href="http://localhost:3000">ГЛАВНАЯ</a>
      {{#if userId}}
      <a class="logout_btn" href="http://localhost:3000/logout">ВЫЙТИ</a>
      {{else}}
      <a class="signup_btn" href="http://localhost:3000/signup">РЕГИСТРАЦИЯ</a>
      <a class="signin_btn" href="http://localhost:3000/signin">АВТОРИЗАЦИЯ</a>
      {{/if}}
    </div>
  </header>

  {{{body}}}

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
