<form action="/signup" method="post" class="signup">
  <input class="input" required="required" type="text" name="name" placeholder="Введите имя">
  <input class="input" required="required" type="email" name="email" placeholder="Введите email">
  <input class="input" required="required" type="password" name="password" placeholder="Введите пароль">

  <button class="button" type="submit">Зарегистрироваться</button>
</form>
